<!-- Hero Section -->
<div class="row">
  <div class="col-md-12">
    <section
      class="header img-fluid"
      style="background-image: url('assets/imgs/bw.jpg')"
    >
      <div class="overlay"></div>
      <div class="header-content">
        <h1>{{ project.title }}</h1>
        <h3>
          <a
            routerLink="/projects"
            style="color: inherit; text-decoration: none"
            >Projects</a
          >
          - <span> {{ project.title }} </span>
        </h3>
      </div>
    </section>
  </div>
</div>

<div class="project-detail container py-5">
  <button class="btn btn-secondary mb-4" (click)="goBack()">← Back</button>
  <h1 class="gallery-title">Gallery</h1>
  <div class="row">
    <!-- Image Gallery -->
    <div class="col-md-8">
      <div class="gallery position-relative">
        <img
          [src]="selectedImage"
          (click)="openDialog()"
          alt="{{ project.title }}"
          class="main-img mb-3"
        />
        <!-- Navigation Arrows -->
        <button
          class="arrow left-arrow"
          (click)="slideImage(-1)"
          aria-label="Previous Image"
        >
          ‹
        </button>
        <button
          class="arrow right-arrow"
          (click)="slideImage(1)"
          aria-label="Next Image"
        >
          ›
        </button>

        <div class="thumbnails mt-3">
          <img
            *ngFor="let img of project.images"
            [src]="img"
            [alt]="project.title"
            class="thumbnail"
            [class.active]="img === selectedImage"
            (click)="selectImage(img)"
          />
        </div>
      </div>
    </div>

    <!-- Project Info -->
    <div class="col-md-4">
      <h5>Project Overview</h5>
      <p>{{ project.description }}</p>
      <ul>
        <li><strong>Location:</strong> {{ project.location }}</li>
        <li><strong>Completion Year:</strong> {{ project.completionYear }}</li>
      </ul>

      <h5>Construction and Materials</h5>
      <ul>
        <li *ngFor="let material of project.constructionMaterials">
          <strong>{{ material.name }}:</strong> {{ material.description }}
        </li>
        <li>
          <strong>Total Building Area:</strong> {{ project.buildingarea }}
        </li>
      </ul>
    </div>
  </div>
</div>
