<!-- Hero Section -->
<div class="row">
  <div class="col-md-12">
    <section
      class="header img-fluid"
      [ngStyle]="{
        'background-image': subServiceDetails?.bgImg
          ? 'url(' + subServiceDetails?.bgImg + ')'
          : ('assets/imgs/bw.webp')
      }"      
      style="background-image: url('assets/imgs/bw.webp')"
    >
      <div class="overlay"></div>
      <div class="header-content" *ngIf="subServiceDetails; else fallbackTitle">
        <h1 class="title"> {{ subServiceDetails.name }}</h1>
        <h3>
          <a routerLink="/home" style="color: inherit; text-decoration: none"
            >Home</a
          >
          - <span> {{ subServiceDetails.name }} </span>
        </h3>
      </div>
      <ng-template #fallbackTitle>
        <h1 class="title" style="color: white; font-size: 40px; font-weight: 700; text-transform: uppercase; z-index: 2; ">supply of construction </h1>
       
      </ng-template>
      
    </section>
  </div>
</div>

<div class="container">
  <!-- 🟡 Display SubService Details -->
  <div *ngIf="subServiceDetails" class="details-section">
    <!-- Details -->
    <div *ngIf="subServiceDetails.details?.length" class="details-container">
      <div *ngFor="let detail of subServiceDetails.details" class="detail-card">
        <h4 class="section-title">{{ detail.title }}</h4>
        <p [innerHTML]="detail.content" >{{ detail.content }}</p>
      </div>
    </div>

    <!-- Components Section -->
    <div *ngIf="subServiceDetails.components?.length" class="section">
      <h3 class="section-title">Components</h3>
      <div class="components-container">
        <div
          *ngFor="let component of subServiceDetails.components"
          class="component-item"
        >
          <div class="component-title">
            <h4 class="component-name">{{ component.name }}</h4>
            <p [innerHTML]="component.description" class="component-description" *ngIf="component.description">
              {{ component.description }}
            </p>
          </div>

          <div class="image-gallery" *ngIf="component.images?.length">
            <img
              *ngFor="let img of component.images"
              [src]="'assets/imgs/' + img"
              alt="{{ component.name }}"
              class="gallery-image"
            />
          </div>

          <hr class="component-divider" />
        </div>
      </div>
    </div>

    <!-- Types -->
    <div *ngIf="subServiceDetails.types?.length" class="section">
      <h3 class="section-title">Types</h3>
      <div class="grid">
        <div *ngFor="let type of subServiceDetails.types" class="item-card">
          <h4>{{ type.name }}</h4>
          <p [innerHTML]="type.description">{{ type.description }}</p>
        </div>
        <hr class="component-divider" />
      </div>
    </div>

    <!-- Applications -->
    <div *ngIf="subServiceDetails.applications?.length" class="section">
      <h3 class="section-title">Applications</h3>
      <div class="grid applications-grid">
        <div
          *ngFor="let app of subServiceDetails.applications"
          class="item-card"
        >
          <p [innerHTML]="app.description">{{ app.description }}</p>
          
        </div>
      </div>
    </div>
  </div>
</div>

<!-- 🟡 Services List -->
<div class="container-fluid">
  <div class="services-section">
    <!-- <h3 class="section-title" style="text-decoration: none;">Services</h3> -->
    <div class="services-grid">
      <div
        class="service-card"
        *ngFor="let service of services"
        (click)="navigateToServiceDetail(service)"
      >
        <img [src]="service.img" alt="{{ service.name }}" class="service-img" />
        <h4 class="service-name">{{ service.name }}</h4>
      </div>
    </div>
  </div>
</div>
