<!-- Hero Section -->
<div class="row">
  <div class="col-md-12">
    <section
      class="header img-fluid"
      style="background-image: url('assets/imgs/bw.webp')"
    >
      <div class="overlay"></div>
      <div class="header-content">
        <h1>Services</h1>
        <h3>
          <a routerLink="/home" style="color: inherit; text-decoration: none"
            >Home</a
          >
          <!-- - <span> {{ service.name }} </span> -->
        </h3>
      </div>
    </section>
  </div>
</div>

<div class="services-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="title mb-30">
          <span>let's know about</span>
          <h1>Specialized construction</h1>
          <p>
            Combining innovation and expertise, we deliver specialized
            construction services, including post-tensioning, elastomeric
            bearings, and expansion joints for optimal structural performance.
          </p>
        </div>
      </div>
    </div>
   <!-- 🟡 Services List -->
    <div class="container-fluid">
    <div class="services-section">
      <div class="services-grid">
        <div
          class="service-card"
          *ngFor="let subService of subServices"
          (click)="navigateToServices(subService)"
        >
          <img [src]="subService.img" alt="{{ subService.name }}" class="service-img" />
          <h4 class="service-name">{{ subService.name }}</h4>
        </div>
      </div>
    </div>
    </div>
    
  </div>
</div>
