mat-dialog-content {
  padding-top: 10px;
}

.form-group {
  margin-bottom: 20px;
  width: 90%;
}

.form-control {
  border-radius: 0;
  border-bottom: 1px solid #ccc !important;
  border: none;
}

.mat-form-field-outline {
  border-color: #ccc !important;
}

.mat-raised-button {
  padding: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 4px;
}

.mat-raised-button:disabled {
  background-color: #ccc !important;
  cursor: not-allowed !important;
}
.mat-mdc-form-field-hint-wrapper,
.mat-mdc-form-field-error-wrapper {
  padding-left: 0;
}
mat-error {
  font-size: 12px;
}
