<!-- Hero Section -->
<div class="row">
  <div class="col-md-12">
    <section
      class="header img-fluid"
      style="background-image: url('assets/imgs/bw.jpg')"
    >
      <div class="overlay"></div>
      <div class="header-content">
        <h1>Services</h1>
        <h3>
          <a routerLink="/home" style="color: inherit; text-decoration: none"
            >Home</a
          >
          - <span> Services </span>
        </h3>
      </div>
    </section>
  </div>
</div>

<div class="offer">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 offer-section">
        <div class="icon-container">
          <span class="material-symbols-outlined">attach_money</span>
        </div>
        <div class="offer-details">
          <h1>Low Cost</h1>
          <p>
            Affordable solutions tailored to meet your needs without
            compromising on quality.
          </p>
        </div>
      </div>
      <div class="col-sm-4 offer-section">
        <div class="icon-container">
          <span class="material-symbols-outlined">workspace_premium</span>
        </div>
        <div class="offer-details">
          <h1>Best Quality</h1>
          <p>
            Delivering top-notch services using premium materials and expert
            craftsmanship.
          </p>
        </div>
      </div>
      <div class="col-sm-4 offer-section">
        <div class="icon-container">
          <span class="material-symbols-outlined">health_and_safety</span>
        </div>
        <div class="offer-details">
          <h1>Health & Safety</h1>
          <p>
            Committed to maintaining the highest safety standards to ensure your
            peace of mind.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="services-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="title mb-30">
          <span>let's know about</span>
          <h1>our construction services</h1>
          <p>
            with offering reliable solutions tailored to meet the needs of
            modern building and infrastructure projects. We focus on quality,
            precision, and delivering results that exceed expectations.
          </p>
        </div>
      </div>
    </div>
    <div class="row cards-container">
      <div class="col-sm-4" *ngFor="let service of mainServices">
        <div class="card" (click)="navigateToService(service)">
          <img [src]="service.img" alt="{{ service.name }}" />
          <div class="overlay"></div>
          <div class="card-content">
            <h2>{{ service.name }}</h2>
            <p>{{ service.description }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
