<!-- Hero Section -->
<div class="row">
  <div class="col-md-12">
    <section
      class="header img-fluid"
      style="background-image: url('assets/imgs/bw.jpg')"
    >
      <div class="overlay"></div>
      <div class="header-content">
        <h1>Services</h1>
        <h3>
          <a routerLink="/home" style="color: inherit; text-decoration: none"
            >Home</a
          >
          - <span> Services </span>
        </h3>
      </div>
    </section>
  </div>
</div>

<div class="offer">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 offer-section">
        <div class="icon-container">
          <span class="material-symbols-outlined">attach_money</span>
        </div>
        <div class="offer-details">
          <h1>Low Cost</h1>
          <p>
            Affordable solutions tailored to meet your needs without
            compromising on quality.
          </p>
        </div>
      </div>
      <div class="col-sm-4 offer-section">
        <div class="icon-container">
          <span class="material-symbols-outlined">workspace_premium</span>
        </div>
        <div class="offer-details">
          <h1>Best Quality</h1>
          <p>
            Delivering top-notch services using premium materials and expert
            craftsmanship.
          </p>
        </div>
      </div>
      <div class="col-sm-4 offer-section">
        <div class="icon-container">
          <span class="material-symbols-outlined">health_and_safety</span>
        </div>
        <div class="offer-details">
          <h1>Health & Safety</h1>
          <p>
            Committed to maintaining the highest safety standards to ensure your
            peace of mind.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="services-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="title mb-30">
          <span>let's know about</span>
          <h1>our construction services</h1>
          <p>
            with offering reliable solutions tailored to meet the needs of
            modern building and infrastructure projects. We focus on quality,
            precision, and delivering results that exceed expectations.
          </p>
        </div>
      </div>
    </div>
    <div class="row cards-container">
      <div class="col-sm-4">
        <div class="card">
          <img src="assets/imgs/tensioning.jpg" alt="serviceImg" />
          <div class="overlay"></div>
          <div class="card-content">
            <h2>Post Tensioning (Building)</h2>
            <p>
              Specialized in post-tensioning for buildings, delivering
              comprehensive design, supply, and installation services that
              enhance structural strength and flexibility.
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <img src="assets/imgs/new-s2.jpg" alt="serviceImg" />
          <div class="overlay"></div>
          <div class="card-content">
            <h2>
              Elastomeric Bearing <br />
              (Building & Bridges)
            </h2>
            <p>
              Ensuring superior load distribution and movement control in
              buildings and bridges, our elastomeric bearing services cover
              design, supply, and installation.
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <img src="assets/imgs/new-s.jpg" alt="serviceImg" />
          <div class="overlay"></div>
          <div class="card-content">
            <h2>
              Expansion Joint <br />
              (Building & Bridges)
            </h2>
            <p>
              Our expansion joint services protect buildings and bridges from
              thermal expansion and contraction, offering full design, supply,
              and installation.
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <img src="assets/imgs/s2.jpg" alt="serviceImg" />
          <div class="overlay"></div>
          <div class="card-content">
            <h2>supply of construction materials</h2>
            <p>
              We provide top-quality construction materials to support your
              projects, ensuring durability, safety, and long-term value for
              your building needs.
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <img src="assets/imgs/s4.jpg" alt="serviceImg" />
          <div class="overlay"></div>
          <div class="card-content">
            <h2>engineering services</h2>
            <p>
              Offering expert engineering solutions tailored to your specific
              project requirements, from initial design to completion, ensuring
              excellence in execution.
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="btn">
      <button class="mybtn" routerLink="/">view all services</button>
    </div> -->
  </div>
</div>
