/* Hero Section */
.header {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-image 0.5s ease-in-out;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.header .header-content {
  display: grid;
  text-align: center;
  z-index: 2;
}

.header-content h1 {
  font-weight: 700;
  color: white;
  font-size: 50px;
  margin-bottom: 11px;
  text-transform: uppercase;
}

.header-content h3 {
  font-size: 16px;
  color: #bbb;
  font-weight: 400;
}
.header-content h3 span {
  color: #f3bc15;
}

/* offer  */
.offer {
  padding: 120px 0;
}

.offer-section {
  text-align: center; /* Centers the content */
  padding: 20px;
  transition: transform 0.2s;
}

.icon-container {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin: 0 auto 15px; /* Centers the icon and adds space below */
  background: #001f3f;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-container span {
  font-size: 2rem;
  color: white;
}

.offer-details h1 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #333;
  text-transform: uppercase;
}

.offer-details p {
  font-size: 0.9rem;
  color: #666;
}

/* service-section */
.services-section {
  z-index: 2;
  position: relative;
  margin-bottom: 50px;
}
.title {
  margin: auto;
  text-align: center;
}
.title span {
  text-transform: uppercase;
  letter-spacing: 7px;
  color: #e6b10e;
}
.title h1 {
  color: black;
  font-size: 45px;
  text-transform: uppercase;
  font-weight: 600;
}
@media (max-width: 576px) {
  .title h1 {
    font-size: 33px;
  }
}

.title p {
  padding: 6px 10%;
  color: #666;
}

.cards-container {
  display: flex;

  justify-content: flex-start;
  align-items: center;
  padding: 50px 0;
  font-family: "Roboto", sans-serif;
}

/* ✅ Service Card */
.service-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  padding: 20px 0;
  
}



/* ✅ Rounded Image */
.service-img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 1px solid #a4a097;
}

/* ✅ Service Name */
.service-name {
  font-size: 1.2rem;
  font-weight: 600;
  color: #a4a097;
  margin-top: 10px;
  text-transform: uppercase;
}

/* ✅ Grid Layout */
.services-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
  justify-items: center;
  padding: 20px;
}

.btn {
  margin-bottom: 40px;
  width: 100%;

  .mybtn {
    width: 221px;
    height: 58px;
    color: #001f3f;
    border: 1px solid #001f3f;
    background-color: inherit;
  }
  .mybtn:hover {
    background-color: #001f3f;
    color: white;
    border: none;
  }
}
.services-section .btn:active {
  border: none;
  outline: none;
}
