/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  overflow-x: hidden;
}

.custom-dialog .mat-dialog-container {
  background-color: transparent;
  box-shadow: none;
  padding: 0;
  overflow: hidden;
}

.custom-dialog .mat-dialog-container img {
  border-radius: 10px;
}
